/*selektor znacznika*/
p {
    color: blue;
    font-size: 18px;
    background: yellow;
    
}

/* selector id*/
#identifikator{
    background: grey;
    color: green;
    font-size: 21px;
}

.przyklad{
    background: blue;
    color: black;
    font-size: 16px;
}
a, span {
    color: red;
    text-decoration:  underline;
    
}

/*selektor bezposredniego potomka*/
li>a{
    font-size: 20px;
    color: aqua;
}

/*Selektor elenentow potomnych*/
div p{
    background: pink;
    color: blue;
    font-size: 30px;
    
}

/*selektor bezposredniego rodzenstwa*/
div p + a{
    background: grey;
    color: bisque;
    text-transform: uppercase;
}

/*selektor rodzenstwa*/
header h2 ~ h3{
    color: blueviolet;
    background: yellow;
    
    
}

/*selektor wykluczajacy*/

#wykluczajacy >li:not(.last){
    color: coral;
    
}

#wykluczajacy {
    list-style-type: none;
}

/*selektor kolejnego elementu potomnego (w nawiasie even parzyste, odd nieparzyste zamiast np 2 jak w przykladzie)*/
#nth > li:nth-child(2){
    background: red;
    font-size: 28px;
}


